<%= page_header :title => "Changelog" %>
All changes made to the Activity List from 7 June 2021 onwards  are recorded in reverse chronological order (that is to say, starting with the most recent changes first) below.
<h2>Changelog</h2>
<ul style="list-style: disc;">
  <li><b>08 Jun 2021</b>: added Natural Movement as kind of 'Functional Fitness'</li>
  <li><b>08 Jun 2021</b>: added MovNat as a brand name under 'Natural Movement'</li>
<ul>
