<%= page_header :title => "Changelog" %>
All changes made to the Activity List from 2021 onwards are recorded below, with the most recent changes first:
<ul style="list-style: disc;">
<li><b>03 Jul 2023</b>: the following activities were added or updated: 'Aquanatal', 'Postnatal Aqua'</li>
<li><b>27 Jun 2023</b>: the following activities were added or updated: 'General Fitness for Older Adults'</li>
<li><b>14 Jun 2023</b>: the following activities were added or updated: 'Cornish Pilot Gig Rowing', 'Bell Boating'</li>
<li><b>13 Jun 2023</b>: the following activities were added or updated: 'Mini Volleyball', 'Body Mind and Soul', 'Learn to Ride', 'RescueFit Adult Bootcamp', 'The Melt Method'</li>
<li><b>19 May 2023</b>: the following activities were added or updated: 'Activity Holiday Camp', 'Camping', 'Creche', 'Early Years Play', 'Feldenkrais', 'Forest School', 'GYROKINESIS®', 'ParkPlay', 'Phase IV Cardiac Rehabilitation', 'Power Assisted Exercise', 'Pulmonary Maintenance', 'SOULfusion™'</li>
<li><b>21 Mar 2023</b>: the following activities were added or updated: 'Cold Water Swimming', 'Acting', 'Adaptive Golf', 'Airsoft Target Shooting', 'Chair Yoga', 'Disc Golf', 'Extreme Slalom', 'Laser Tag', 'Paracise', 'Pregnancy Yoga', 'Resistance Training', 'Sauna', 'Scootering', 'Scottish Country Dancing', 'Singing', 'Snowtubing', 'Spa', 'Steam Room', 'Toddler Football', 'Turkish Baths', 'Wild Water Racing'</li>
<li><b>02 Feb 2023</b>: the following activities were added or updated: 'Arnis', 'Baguazhang', 'Beach Netball', 'Beach Soccer', 'Boater X', 'Canoe Freestyle', 'Canoe Ocean Racing', 'Canoe Sailing', 'Canoe Slalom', 'Canoe Sprint', 'Marathon Canoe', 'Outrigger Canoeing', 'Surf Kayak', 'ParaNetball'</li>
<li><b>04 Aug 2022</b>: the following activities were added or updated: 'Open Water Swimming'</li>
<li><b>22 Sep 2021</b>: the following activities were added or updated: 'Breathwork', 'Circus Skills', 'Multisports', 'Power Pilates', 'Resistance Bands', 'Soft Play', 'This Girl Can Classes', 'Walking Tennis'</li>
<li><b>20 Jul 2021</b>: the following activities were added or updated: 'Acroyoga', 'Bolero', 'diddi dance', 'FloatFit', 'Les Mills Tone™', 'MovNat', 'Natural Movement', 'Rockbox Fitness', 'Roller Skating', 'Roller Sports', 'Squash 57', 'Sweaty Mama', 'Tag Rugby', 'VIPR', 'Zumba® Gold Toning'</li>
<ul>
