<%= page_header :title => "Instructions for Editing" %>
<h2>Editing the Activity List</h2>
<h3>Viewing the Activity List</h3>
<p>For most purposes the easiest way to view the Activity List is to click on the 'Concepts' tab. This will display a hierarchical view of the Activity List - that is to say, more-specific terms are listed under more general terms. For example, 'Small-sides Football' is listed under 'Football', and in turn contains terms such as '5-a-side', '6-a-side', etc.</p>
<p>To expand a hierarchical term, click on the small '+' icon beside it; to hide the more-specific terms, click on the '-' icon. Clicking on the magnifying glass icon to the right of a term will bring up more details about it - for example, a definition of the term, if one is recorded in the system.
<h4>Finding a specific activity</h4>
<p>The hierarchical nature of the list can sometimes make finding an activity hard: how do you know which top-level terms you need to expand in order to find the lower-level activity?</p>
<p>In such cases, using 'Basic Find' to search for an activity by name can be extremely helpful. Given the relatively small (<700 items) size of the Activity List, it is not usually necessary to use the Advanced Search functionality, though it is there if desired.</p>
<h4>A note on Collections</h4>
<p>Collections functionality is not currently used in any systematic way by OpenActive. Accordingly the Collections view provides only a very partial and fragmented view of the Activity List, and is not recommended for current use.</p>
<p>The role of Collections may change in future, but for the present their use should be avoided.<p>
<h3>Adding a New Activity</h3>
<p>To add a new activity, use the top horizontal navigation bar to navigate to 'Concepts'; then, in the right-hand navigation bar, click 'New Concept'. This will bring you to the New Concept page, where you can add your new activity.</p>
<h4>Labels</h4>
<h4>Relations</h4>
<h4>Definitions</h4>
<h4>Notations</h4>
<h3>Editing an Existing Activity</h3>
<h3>Removing an Activity</h3>
