<%= page_header :title => "Instructions for Editing" %>
<h2>Editing the Activity List</h2>
<h3>Viewing the Activity List</h3>
<h3>Adding a New Activity</h3>
<h3>Editing an Existing Activity</h3>
<h3>Removing an Activity</h3>
<h3>What are Collections</h3>
